@{
    ViewBag.Title = "Tabla de Precios";
}
@section scripts{
    <script src=@Url.Content("~/Scripts/controller/precio/descuentoController.js")></script>
}

<div class="col-md-12" ng-controller="descuentoController">
    <div class="row">
        <div class="col-md-12 texto-centrado form-group">
            <div class="titulo1">CONSULTA DE DESCUENTOS</div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 form-group">                
                <button title="DESCARGAR" ng-click="export('tabla-descuento')" class="btn btn-primary"><span class="fa fa-file-excel-o"></span></button>
            </div>
            <div class="col-md-offset-8 col-md-2 form-group">
                <a title="Nuevo Descuento" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-registro" ng-click="nuevoRegistro()"><span class="glyphicon glyphicon-plus"></span> NUEVO DESCUENTO</a>
            </div>
        </div>
        <div class="col-md-12">
            <table id="tabla-descuento" datatable="ng" dt-options="dtOptions" dt-column-defs="descuentos.dtColumnDefs" class="row-border hover table table-stripped tabla-bandeja table-bordered">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Producto</th>
                        <th>Descuento</th>
                        <th>Cant.Min</th>
                        <th>Cant.Max</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in descuentos.Lista" ng-cloak>
                        <td>{{$index+1}}</td>
                        <td class="left width-300"><span class="width-nowrap" title="{{item.Producto}}">{{item.Producto}}</span></td>
                        <td class="width-100">{{item.Valor}}</td>
                        <td>{{item.CantidadMinima}}</td>
                        <td>{{item.CantidadMaxima}}</td>
                        <td>{{item.FechaDesde}}</td>
                        <td>{{item.FechaHasta}}</td>
                        <td>
                            <a title="Caducar descuento" ng-show="item.EsVigente" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#pregunta-eliminar" ng-click="caducarDescuento(item)"><span class="glyphicon glyphicon-ban-circle"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @Html.Partial("_ModalRegistroDescuentoPartial")
    @Html.Partial("../Genericos/_ModalAdvertenciaPartial")
</div>









