@{
    ViewBag.Title = "Tabla de Precios";
}

@section scripts{
    <script src=@Url.Content("~/Scripts/controller/precio/precioController.js")></script>
    <script>
        var numeroDecimalesEnPrecio = @ViewBag.numeroDecimalesEnPrecio;

    </script>
}

<div class="col-md-12" ng-controller="precioController" ng-init="inicializarPrecios()">
    <div class="row">
        <div class="col-xs-12">
            <div class="color-palette-set">
                <div class="color-palette bg-green">CONSULTA DE PRECIOS</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button title="DESCARGAR" ng-click="export('tabla-precios')" class="btn btn-primary"><span class="fa fa-file-excel-o"></span></button>
                            <button title="Nuevo Precio" class="btn btn-md btn-primary pull-right" data-toggle="modal" data-target="#modal-registro-precio" ng-click="inicializar()"><span class="glyphicon glyphicon-plus"></span> NUEVO PRECIO</button>
                        </div>
                        <div class="col-xs-12 table-responsive">
                            <table id="tabla-precios" datatable="ng" dt-options="dtOptions" dt-column-defs="precios.dtColumnDefs" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Producto</th>
                                        <th style="width:110px">Tarifa</th>
                                        <th>Precio</th>
                                        <th>Desde</th>
                                        <th>Hasta</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in precios" ng-cloak>
                                        <td>{{$index+1}}</td>
                                        <td><span class="width-nowrap">{{item.Concepto}}</span></td>
                                        <td>{{item.Tarifa}}</td>
                                        <td>{{item.PrecioString}}</td>
                                        <td>{{item.FechaDesdeString}}</td>
                                        <td>{{item.FechaHastaString}}</td>
                                        <td>
                                            <a title="Caducar precio" ng-show="item.EsVigente" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#pregunta-eliminar" ng-click="caducarPrecio(item)"><span class="glyphicon glyphicon-ban-circle"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_ModalRegistroPrecioPartial")
</div>









