<div class="content-top clearfix">
    <ul class="breadcrumb al-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Inicio</a>
        </li>
        <li>{{ activePageTitle }}</li>
    </ul>
</div>