<div class="col-md-12 padding-5">
    <div class="col-md-12 padding-0">
        <div class="col-md-7 padding-0">
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <label >Medio de Pago:</label>
                </div>
                <div class="col-md-6 padding-0">
                    <select class="select2" ng-model="model.IdMedioDePago" ng-change="habilitarMontoAPagar()" required>
                        <option ng-repeat="item in mediosDePago" value="{{item.Id}}">
                            {{item.Nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <label>Entidad Bancaria:</label>
                </div>
                <div class="col-md-6 padding-0">
                    <select class="select2" ng-model="model.IdEntidadBancaria" required>
                        <option ng-repeat="item in entidadesBancarias" value="{{item.Id}}">
                            {{item.Nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-12 padding-0">
                    <label>Informacion: (N° Operacion/N° Cheque)</label>
                </div>
                <div class="col-md-12 padding-0">
                    <textarea class="form-control" ng-model="model.InformacionDeMedioPago" required></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-5 padding-left-10">
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <label>A pagar:</label>
                </div>
                <div class="col-md-6 padding-0">
                    <label class="form-control" >{{model.MontoAPagar}}
                    </label>
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <label>Entrega:</label>
                </div>
                <div class="col-md-6 padding-0">
                    <input class="form-control" ng-model="model.Efectivo" />
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-6 padding-0">
                    <label>Cambio:</label>
                </div>
                <div class="col-md-6 padding-0">
                    <label class="form-control">{{model.Efectivo - model.MontoAPagar}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
