<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <label>TARIFA</label>
        </div>
        <div class="col-md-8">
            <label style="font-weight:100">{{salida.SistemaDePago.Nombre}}</label>
        </div>
        <div class="col-md-4">
            <label>INGRESO</label>
        </div>
        <div class="col-md-8">
            <label style="font-weight:100">{{salida.IngresoString}}</label>
        </div>
        <div class="col-md-4">
            <label>SALIDA</label>
        </div>
        <div class="col-md-8">
            <label style="font-weight:100">{{salida.SalidaString}}</label>
        </div>
        <div class="col-md-4">
            <label>TIEMPO</label>
        </div>
        <div class="col-md-8">
            <label style="font-weight:100">{{salida.TiempoSistemaPorHoras.HorasString}}</label>
        </div>
        <div class="col-md-4">
            <label>CONSUMO</label>
        </div>
        <div class="col-md-8">
            <label style="font-weight:100">{{salida.DetallesACobrar.Principal|number:2}}</label>
        </div>
    </div>
</div>


@*<div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <label>Tarifa</label>
                <h5>{{salida.SistemaDePago.Nombre}}</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Ingreso</label>
                <h5>{{salida.IngresoString}}</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Salida</label>
                <h5>{{salida.SalidaString}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-4">
            <div class="form-group">
                <label>Tiempo</label>
                <h5>{{salida.TiempoSistemaPorHoras.HorasString}}</h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Consumo</label>
                <h5>{{salida.DetallesACobrar.Principal}}</h5>
            </div>
        </div>
    </div>*@
