<div id="modal-registro-proveedor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" ng-init="initRegistro()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">REGISTRO DE PROVEEDOR</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="frm_proveedor" name="ProveedorForm">
                        @Html.Partial("../Persona/_DatosValidacionPartial")
                        @Html.Partial("../Persona/_DatosGeneralesPartial")
                        @Html.Partial("../Persona/_TablaDireccionFiscalPartial")
                        @*<div class="box box-danger" ng-show="hayInconsistencias && inconsistencias.length > 0">
                            <div class="box-body">
                                <h4 style="color:#bb1f1f">INCONSISTENCIA(S):</h4>
                                <table>
                                    <tr ng-repeat="item in inconsistencias">
                                        <td colspan="1" style="color:#bb1f1f">{{item}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>*@
                    </form>
                </div>
                <h5>(*) Datos Obligatorios </h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-primary pull-left" title="Guardar" ng-disabled="ProveedorForm.$invalid " ng-click="guardar()"><span class="glyphicon glyphicon-floppy-disk"></span> GUARDAR</button>
                <button class="btn btn-md btn-danger" title="Cerrar" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> CERRAR</button>
            </div>
        </div>
    </div>
</div>

