<div id="modal-caracteristica" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">REGISTRO CARACTERISTICA</h4>
            </div>
            <div class="modal-body">
                <form name="caracteristicaForm">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">DATOS GENERALES: </div>
                                <div class="panel-body">
                                    @*<div class="row">
                                        <div class="col-md-5">
                                            <div class="col-xs-12 col-sm-12 col-md-2 ">
                                                <div class="mt-10">
                                                    <label>Tipo: </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3 ">
                                                <div class="form-group">
                                                    <div class="radio radio-primary">
                                                        <input type="radio" id="radio-es-comun" ng-model="caracteristica.EsComun" ng-value="true" name="tipoDeCaracteristica" required>
                                                        <label for="radio-es-comun">
                                                            Común
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3 ">
                                                <div class="form-group">
                                                    <div class="radio radio-primary">
                                                        <input type="radio" id="radio-es-propia" ng-model="caracteristica.EsComun" ng-value="false" name="tipoDeCaracteristica">
                                                        <label for="radio-es-propia">
                                                            Propia
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 ">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="nombre">Nombre: </label>
                                                    <input class="form-control" id="nombre" uppercase-only ng-model="caracteristica.Nombre" placeholder="Nombre" required />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="descripcion">Descripción: </label>
                                                    <textarea id="descripcion" ng-model="caracteristica.Descripcion"  uppercase-only class="form-control" placeholder="Descripcion" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" ng-if="caracteristica.EsComun">
                            <div class="panel panel-primary">
                                <div class="panel-heading">VALORES CARACTERISTÍCAS: </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-9">
                                                    <label for="valor">Valor: </label>
                                                    <input id="valor" class="form-control" placeholder="Valor"  uppercase-only ng-model="valorCaracteristica.Nombre" />
                                                </div>
                                                <a class="btn btn-success btn-sm mt-20" ng-disabled="!valorCaracteristica.Nombre" ng-click="agregarValor()"><span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12" id="container-msg">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <br />
                                            <br />
                                            <table datatable="ng" dt-options="dtOptions" class="table table-bordered  table-bordered  table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Valor</th>
                                                        <th>Op.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in caracteristica.Valores">
                                                        <td class="col-md-1">{{$index+1}}</td>
                                                        <td class="col-md-10"><span class="width-nowrap" title="{{item.Nombre}}">{{item.Nombre}}</span></td>
                                                        <td class="col-md-1"><a class="btn btn-danger btn-xs" ng-click="eliminarValor($index)"><span class="glyphicon glyphicon-minus"></span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a ng-disabled="caracteristicaForm.$invalid" ng-click="guardarCaracteristica(caracteristica)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> GUARDAR CARACTERISTICAS</a>
                <a data-dismiss="modal" title="Cerrar" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> CERRAR</a>
            </div>
        </div>
    </div>
</div>


<!-- MODAL PARA PREGUNTAR SI SE VAN ELIMINAR LOS VALORES -->
<div id="modal-desea-eliminar-valor-caracteristicas" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">ELIMINAR VALORES CARACTERISTICAS</h4>
            </div>
            <div class="modal-body">
                <p>Se eliminaran los valores de caracteristicas</p>
                <p>Esta seguro de querer continuar?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" ng-click="eliminarValoresDeCaracteristicas()">Aceptar</a>
                <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>