<div id="modal-codigo-barra" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CÓDIGO DE BARRA</h4>
            </div>
            <div class="modal-body">
                <div id="external">
                    <div id="inputdata">{{codigoBarra}}</div>
                </div>
                <div class="text-center">
                    <a title="IMPRIMIR" class="btn btn-flat btn-success" ng-click="imprimirCodigoBarra('external')"><span class="glyphicon glyphicon-print"></span> IMPRIMIR</a>
                </div>
            </div>
            <div class="modal-footer">
                <a title="CERRAR" class="btn btn-flat btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CERRAR</a>
            </div>
        </div>
    </div>
</div>


