<div id="modal-concepto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">REGISTRO DE FAMILIA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.Partial("../Concepto/_RegistroConceptoBasicoPartial")
                </div>
            </div>
            <div class="modal-footer">
                <a ng-disabled="conceptoForm.$invalid" ng-click="guardarConcepto(concepto)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> GUARDAR</a>
                <a data-dismiss="modal" title="Cerrar" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> CERRAR</a>
            </div>
        </div>
    </div>
</div>
