<div id="modal-dar-de-baja-centro-de-atencion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">DAR DE BAJA CENTRO DE ATENCIÓN</h4>
            </div>
            <div class="modal-body">
                <p>Dará de baja a {{nombreCentroDeAtencion}}</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal" ng-click="eliminarCentroDeAtencion()">Si</a>
                <a class="btn btn-danger"  data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>