@{
    ViewBag.Title = "Sucursal";
}
@section scripts{
    <script src=@Url.Content("~/Scripts/controller/centroDeAtencion/centroDeAtencionController.js")></script>
    <script>
        var permitirRegistroCodigoDigemidEnEstableciemientoComercial = @ViewBag.permitirRegistroCodigoDigemidEnEstableciemientoComercial.ToString().ToLower();
    </script>
}

<div class="col-md-12" ng-controller="sucursalController" flow-init="{singleFile:true}">
    <div class="row">
        <div class="col-md-12">
            <div class="color-palette-set">
                <div class="bg-green color-palette">BANDEJA SUCURSALES</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <a title="Registrar Sucursal" class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#modal-registro-sucursal" ng-click="nuevoRegistroSucursal()"><span class="glyphicon glyphicon-plus"></span> NUEVA SUCURSAL</a>
                        </div>

                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
                            <table id="tabla-serie-de-comprobante" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>N° </th>
                                        <th>RAZÓN SOCIAL</th>
                                        <th>TIPO DE DOCUMENTO</th>
                                        <th>N° DE DOCUMENTO</th>
                                        <th>DIRECCIÓN</th>
                                        <th>ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaSucursales" ng-cloak>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.Nombre}}</td>
                                        <td>{{item.TipoDeDocumento}}</td>
                                        <td>{{item.NumeroDocumentoDeIdentidad}}</td>
                                        <td>{{item.Direccion}}</td>
                                        <td>
                                            <a title="Editar sucursal" class="btn btn-warning btn-xs btn-flat" data-toggle="modal" data-target="#modal-registro-sucursal" ng-click="editarSucursal(item.Id);$flow.cancel()"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a title="Eliminar sucursal" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-dar-de-baja-sucursal" ng-click="enviarDatosParaModalDarDeBajaSucursal(item.Id,item.RazonSocial)"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_ModalRegistroSucursal")
        @Html.Partial("_ModalDarDeBajaSucursal")
    </div>
</div>
