@{
    ViewBag.Title = "Reportes Ventas";
}

@section scripts{
    <script src=@Url.Content("~/Scripts/controller/venta/reportes/reportesVentaController.js")></script>
    <script src=@Url.Content("~/Scripts/controller/venta/reportes/reportesVentas_VentasPorGruposController.js")></script>

    <script>
        var reportData =@(Html.Raw(Json.Encode(ViewBag.Data)));
    </script>

}
<div class="col-md-12" ng-controller="reportesVentaController" ng-init="inicializar()">
    <div class="row">
        <div class="col-md-12">
            <div class="color-palette-set">
                <div class="bg-green color-palette">REPORTES DE VENTAS</div>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-header with-border" style="display:flex; justify-content:center">
            <div class="box-title">
                <div class="col-md-12 ">
                    <div class="radio radio-primary radio-inline">
                        <input type="radio" id="radio1" value="seccion1" ng-model="reporteador.SeccionSeleccionada" ng-checked="reporteador.SeccionSeleccionada=='seccion1'">
                        <label for="radio1">Por Grupos</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_VentasPorGruposPartial")

</div>

