<div id="modal-invalidar-gasto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">INVALIDACIÓN DE DOCUMENTO</h4>
            </div>
            <div class="modal-body">
                <form name="invalidacionDeDocumentoForm" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12 padding-5">
                            <div class="col-md-12">
                                <p class="text-center"><strong>¿Esta seguro que desea invalidar el documento?</strong></p>
                            </div>
                            <div class="col-md-12">
                                <div class="margin text-center">
                                    <a class="btn btn-primary" ng-disabled="!invalidacion.observacion" ng-click="invalidarGasto()">ACEPTAR</a>
                                    <a class="btn btn-danger" data-dismiss="modal" aria-label="close">CANCELAR</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <label>Observación:</label>
                                    <textarea class="form-control" rows="3" ng-model="invalidacion.observacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
