@{
    ViewBag.Title = "Registro de Serie de comprobante";
}

@section scripts{
    <script src=@Url.Content("~/Scripts/controller/comprobante/comprobanteController.js")></script>
}


<div class="col-md-12" ng-controller="comprobanteController" ng-init="obtenerSeriesDeComprobanteBandeja()">
    <div class="row">
        <div class="col-md-12">
            <div class="color-palette-set">
                <div class="bg-green color-palette">SERIES DE COMPROBANTE</div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12  form-group">
                            <a title="Nueva Serie De Comprobante" class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#modal-registro-serie-de-comprobante" ng-click="nuevoRegistroSerieDeComprobante()"><span class="glyphicon glyphicon-plus"></span> NUEVA SERIE DE COMPROBANTE</a>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
                            <table id="tabla-serie-de-comprobante" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover table table-stripped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Establecimiento comercial</th>
                                        <th>Centro de atención</th>
                                        <th>Tipo De Comprobante</th>
                                        <th>N° Serie</th>
                                        <th>N° Comprobante Siguiente</th>
                                        <th>Autonumérica</th>
                                        <th>Vigente</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaSeriesDeComprobante" ng-cloak>

                                        <td>{{item.Id}}</td>
                                        <td>{{item.EstablecimientoComercial}}</td>
                                        <td>{{item.CentroDeAtencion}}</td>
                                        <td>{{item.TipoDeComprobante}}</td>
                                        <td>{{item.NumeroDeSerie}}</td>
                                        <td>{{item.NumeroDeComprobanteSiguiente}}</td>
                                        <td>
                                            <input type="checkbox" ng-checked="item.Autonumerica==true" disabled />

                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="item.Vigente==true" disabled />
                                        </td>
                                        <td>
                                            <a title="Editar Serie de Comprobante" class="btn btn-warning btn-xs btn-flat" data-toggle="modal" data-target="#modal-registro-serie-de-comprobante" ng-click="editarSerieDeComprobante(item.Id)"><span class="glyphicon glyphicon-edit"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_ModalRegistroSerieDeComprobantePartial")
    </div>
</div>
