<div id="vista-de-documento">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6" style="border: solid; border-width: thin; padding:10px">
                        <div class="row">
                            <div class="col-md-12">
                                <label>{{verDocumento.EtiquetaDocumentoIdentidadTercero}} : </label>
                                <span>{{verDocumento.DocumentoIdentidadTercero}}</span>
                            </div>
                            <div class="col-md-12">
                                <label>{{verDocumento.EtiquetaTercero}} : </label>
                                <span>{{verDocumento.NombreTercero}}</span>
                            </div>
                            <div class="col-md-12">
                                <label>Direccion : </label>
                                <span>{{verDocumento.DireccionTercero}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="border: solid; border-width: thin; padding:10px">
                        <div class="row">
                            <span class="col-md-12" style="text-align:center; ">{{verDocumento.EtiquetaNombreDocumento}}</span>
                            <label class="col-md-12" style="text-align:center; margin-top:5px">{{verDocumento.SerieNumeroDocumento}}</label>
                            <div class="col-md-12">
                                <label>Fecha : </label>
                                <span>{{verDocumento.Fecha}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="border: solid; border-width: thin; padding:10px">
                            <table id="tabla-detalles" class="table table-stripped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Concepto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Igv</th>
                                        <th>Descuento</th>
                                        <th>Importe</th>
                                        <th ng-show="mostrarTrazabilidadDeConcepto">Lote</th>
                                        <th ng-show="mostrarTrazabilidadDeConcepto">Venc.</th>
                                        <th ng-show="mostrarTrazabilidadDeConcepto">Reg. San.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in verDocumento.Detalles" ng-cloak>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.Concepto}}</td>
                                        <td>{{item.Cantidad|number:numeroDecimalesEnCantidad}}</td>
                                        <td>{{item.Precio|number:numeroDecimalesEnPrecio}}</td>
                                        <td>{{item.Igv|number:2}}</td>
                                        <td>{{item.Descuento|number:2}}</td>
                                        <td>{{item.Importe|number:2}}</td>
                                        <td ng-show="mostrarTrazabilidadDeConcepto">{{item.Lote}}</td>
                                        <td ng-show="mostrarTrazabilidadDeConcepto">{{item.Vencimiento}}</td>
                                        <td ng-show="mostrarTrazabilidadDeConcepto">{{item.Registro}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12" ng-show="verDocumento.HayRegistroFlete">
                                <div class="col-md-5">
                                    <label class="col-md-6">Flete : </label>
                                    <label class="col-md-6">S/ {{verDocumento.Flete|number:2}}</label>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <label class="col-md-6">Sub Total : </label>
                                <label class="col-md-6">S/ {{verDocumento.SubTotal|number:2}}</label>
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <label class="col-md-6">Total Igv : </label>
                                <label class="col-md-6">S/ {{verDocumento.Igv|number:2}}</label>
                            </div>
                            <div class="col-md-5 col-md-offset-7">
                                <label class="col-md-6">Importe Total : </label>
                                <label class="col-md-6">S/ {{verDocumento.Total|number:2}}</label>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
