<div id="modal-registro-cartera-de-cliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">REGISTRO DE CARTERA DE CLIENTE</h4>
            </div>
            <div class="modal-body">
                <form name="carteraDeCliente">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="establecimientoComercial">ESTABLECIMIENTO COMERCIAL:</label>
                                <label class="form-control" ng-if="editando">{{nombreEstablecimientoComercial}}</label>
                                <select id="establecimientoComercial" class="select2 form-control" ng-model="cartera.EstablecimientoComercial"  ng-if="!editando" ng-change="obtenerCentrosAtencion(cartera.EstablecimientoComercial.Id)" ng-options="item as item.Nombre for item in listaEstablecimientosComerciales track by item.Id"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="centroDeAtencion">CENTRO DE ATENCIÓN:</label>
                                <label class="form-control" ng-if="editando">{{nombreCentroDeAtencion}}</label>
                                <select id="centroDeAtencion" class="select2 form-control" ng-model="cartera.CentroDeAtencion" ng-if="!editando" ng-options="item as item.Nombre for item in listaCentrosDeAtencion track by item.Id"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="cliente">CLIENTE:</label>
                                <select id="cliente" class="select2 form-control" ng-model="cliente" ng-change="agregarClienteALaCartera()" ng-options="item as item.Nombre for item in listaClientes track by item.Id" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>CLIENTE</th>
                                        <th>ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody ng-show="cartera.Detalles.length>0" ng-cloak>

                                    <tr ng-repeat="item in cartera.Detalles">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.Nombre}}</td>
                                        <td>
                                            <a class="btn btn-xs btn-danger" ng-click="quitarClienteDeLaCartera($index)"><span class="glyphicon glyphicon-remove"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-hide="cartera.Detalles.length>0">
                                    <tr>
                                        <td colspan="12" style="color:#bb1f1f">No existe ningun registro en la cartera de clientes</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a ng-disabled="datosRequeridosParaCarteraClientes()" ng-click="guardarCarteraDeClientes()" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-floppy-disk"></span> GUARDAR</a>
                <a title="Cerrar" ng-click="cerrar('modal-registro-cartera-de-cliente')" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> CERRAR</a>
            </div>
        </div>
    </div>
</div>

