
    <div class="col-md-12">
        <label>BOTON GUARDAR</label>
        <button title="GUARDAR VENTA" class="btn btn-primary btn-md" ng-click="guardar()"><span class="glyphicon glyphicon-floppy-save"></span> GUARDAR</button>

        <label>BOTON EDITAR</label>
        <button title="EDITAR VENTA" class="btn btn-primary btn-md" ng-click="editar()"><span class="glyphicon glyphicon-floppy-save"></span> EDITAR</button>

        <label>BOTON BUSCAR</label>
        <button title="BUSCAR VENTA" class="btn btn-primary btn-md" ng-click="guardar()"><span class="glyphicon glyphicon-floppy-save"></span> EDITAR</button>

        <label>BOTON VER</label>
        <button title="VER VENTA" class="btn btn-primary btn-md" ng-click="guardar()"><span class="glyphicon glyphicon-floppy-save"></span> EDITAR</button>

        @* BOTONES SOLO ICONOS - PEQUEÑOS *@
        <label>BOTON AGREGAR</label>
        <label>BOTON VER</label>
        <label>BOTON EDITAR</label>
        <label>BOTON ELIMINAR</label>
        <label>BOTON BUSCAR</label>


        @* TABLAS *@

        <label>INPUT</label>
        <label>COMBOBOX</label>

    </div>
