
@{
    ViewBag.Title = "RegistroProducto";
}

<h2>Registro de producto</h2>

<div id="">
     <label>Producto </label>
    <label>Cantidad</label>
   
</div>

<div>
    <label>Precio unitario </label>
    <label>Stock</label>
</div>

<div>
  <input  type="button" value="GUARDAR" class="center3"/> 
  <input type="button" value="ELIMINAR" class="center3"/> 
</div>

<div>
    <table class="col-md-12" border="1">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>NombreProducto</th>
            <th>Descripción</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Unidad de medida</th>
            <th>Precio Unitario</th>
          </tr>      
        </thead>

        <tbody>
            <tr>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
            </tr>
        </tbody>

    </table>
</div>




