<div id="modal-parametro-configuracion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">PARAMETROS DE CONFIGURACION : {{configuracion_.Nombre}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <a title="Descargar" class="btn btn-flat btn-success"><span class="fa fa-file-excel-o"></span> DESCARGAR</a>
                    </div>
                    <div class="col-xs-12">
                        <table id="tabla-parametro-configuracion" class="table table-bordered table-striped" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>TIPO</th>
                                    <th>DECRIPCION</th>
                                    <th>VALOR</th>
                                    <th class="noExport not-search">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-1" style="background:#d0d0d0;">
                                    </td>
                                    <td class="col-md-3" style="background:#d0d0d0;">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre del parametro" ng-model="parametro.Nombre" style="border-color:forestgreen;" required />
                                    </td>
                                    <td class="col-md-1" style="background:#d0d0d0; font-size:14px;">
                                        <select id="select-tipoParametro" class="select2" ng-model="parametro.Tipo" ng-options="item.tipo as item.tipo for item in tipoDatos "></select>
                                    </td>
                                    <td class="col-md-3" style="background:#d0d0d0;">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" ng-model="parametro.Descripcion" style="border-color:forestgreen;" required />
                                    </td>
                                    <td class="col-md-3" style="background:#d0d0d0;">
                                        <input type="text" class="form-control" id="valor" placeholder="Valor" ng-model="parametro.Valor" style="border-color:forestgreen;" required />
                                    </td>
                                    <td class="col-md-1" style="background:#d0d0d0;"> <a ng-click="nuevoParametro()" ng-disabled="!parametro.Nombre||!parametro.Tipo||!parametro.Descripcion||!parametro.Valor" class="btn btn-info btn-sm btn-flat"><span class="glyphicon glyphicon-plus"></span></a>  </td>
                                </tr>

                                <tr ng-repeat="item in parametros.Lista" ng-cloak>
                                    <td>{{$index+1}}</td>
                                    <td class="left width-300">
                                        <input class="form-control" type="text" ng-model="item.Nombre" />
                                    </td>
                                    <td class="left width-300" style="font-size:14px;">
                                        <select id="select-tipoParametro" class="select2" ng-model="item.Tipo" ng-options="item.tipo as item.tipo for item in tipoDatos"></select>
                                    </td>
                                    <td class="left width-300">
                                        <input class="form-control" type="text" ng-model="item.Descripcion" />
                                    </td>
                                    <td class="left width-300">
                                        <input class="form-control" type="text" ng-model="item.Valor" />
                                    </td>
                                    <td>
                                        <a title="Editar Parametro Configuracion" class="btn btn-primary btn-sm btn-flat" ng-click="editarParametro(item)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" title="Cerrar" class="btn btn-flat btn-danger"><span class="glyphicon glyphicon-remove"></span> CERRAR</a>
            </div>
        </div>
    </div>
</div>
