
    @*INVENTARIOS*@
    <div ng-show="reporteador.SeccionSeleccionada=='seccion1'">

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Criterios y filtros </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 " id="input-establecimiento">
                        <div class="form-group">
                            <label for="punto1" class="title-report">Establecimiento*</label>
                            <select id="" class="select2 form-control" ng-model="reporteador.InventariosPorFecha.EstablecimientoSeleccionado" ng-options="item as item.Nombre for item in data.Establecimientos  track by item.Id" required ng-change="InventariosPorFecha_EstablecimientoChanged()"></select>
                        </div>
                    </div>
                    <div class="col-md-3" id="input-almacen">
                        <div class="form-group">
                            <label for="documento">Almacén*</label>
                            <select class="select2 form-control" ng-model="reporteador.InventariosPorFecha.AlmacenSeleccionado" ng-change="InventariosPorFecha_actualizarURLs()" ng-options="item as item.Nombre for item in reporteador.InventariosPorFecha.EstablecimientoSeleccionado.CentrosAtencion  track by item.Id"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="dateEnd">Fecha y Hora Hasta </label>
                                <div>
                                    <input type="text" datetime="dd/MM/yyyy HH:mm:ss a" ng-model="reporteador.InventariosPorFecha.FechaHasta" ng-change="InventariosPorFecha_actualizarURLs()" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" id="input-almacen">
                        <div class="form-group">
                            <div>
                                <label class="col-md-6">Familias</label>
                                <div class="checkbox checkbox-primary col-md-6 no-margin ">
                                    <input id="todasLasFamilias" type="checkbox" class="styled" ng-model="reporteador.InventariosPorFecha.SeleccionarTodasLasFamilias" ng-change="InventariosPorFecha_TodasLasFamiliasChanged()" />
                                <label class="negrita">Todas</label>
                                </div>
                            </div>

                            <select id="InventariosPorFecha_familias" class="select2 form-control" ng-model="reporteador.InventariosPorFecha.FamiliasSeleccionadas" ng-change="InventariosPorFecha_FamiliasChanged()" ng-options="item as item.Nombre for item in data.Familias  track by item.Id" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Inventario Físico</h3>
            </div>
            <div class="box-body">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <br />
                            <a title="Inventario" class="btn btn-primary btn-flat" ng-disabled="!reporteador.InventariosPorFecha.Inventario.ActivarBotonVer" ng-href="{{URLInventariosPorFecha_Inventario}}">VER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Inventario  - Semáforo</h3>
            </div>
            <div class="box-body">
                <div class="row">

                    <div class="col-md-4">
                        <div class="col-md-4">
                            <div class="checkbox checkbox-primary">
                                <input id="estadoBajoReporteStock" type="checkbox" class="styled" ng-model="reporteador.InventariosPorFecha.InventarioSemaforo.Semaforo.Bajo" ng-change="Actualizar_URLInventariosPorFecha_InventarioSemaforo()" />
                                <label for="estadoBajoReporteStock" class="negrita" style="color:red">Bajo</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox checkbox-primary">
                                <input id="estadoModeradoReporteStock" type="checkbox" class="styled" ng-model="reporteador.InventariosPorFecha.InventarioSemaforo.Semaforo.Normal" ng-change="Actualizar_URLInventariosPorFecha_InventarioSemaforo()" />
                                <label for="estadoModeradoReporteStock" class="negrita" style="color:darkgreen">Normal</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox checkbox-primary">
                                <input id="estadoConfortableReporteStock" type="checkbox" class="styled" ng-model="reporteador.InventariosPorFecha.InventarioSemaforo.Semaforo.Alto" ng-change="Actualizar_URLInventariosPorFecha_InventarioSemaforo()" />
                                <label for="estadoConfortableReporteStock" class="negrita" style="color: darkorange">Alto</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <a title="Inventario - semáforo" class="btn btn-primary btn-flat" ng-disabled="!reporteador.InventariosPorFecha.InventarioSemaforo.ActivarBotonVer" ng-href="{{URLInventariosPorFecha_InventarioSemaforo}}">VER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Inventario Valorizado</h3>
            </div>
            <div class="box-body">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <br />
                            <a title="Inventario Valorizado" class="btn btn-primary btn-flat" ng-disabled="!reporteador.InventariosPorFecha.InventarioValorizado.ActivarBotonVer" ng-href="{{URLInventariosPorFecha_InventarioValorizado}}">VER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
