@{
    ViewBag.Title = "RegistroDeTipoDeTransaccion";
}
@section scripts{
    <script src=@Url.Content("~/Scripts/controller/tipoDeTransaccion/tipoDeTransaccionController.js")></script>
} 
<div class="col-md-12" ng-controller="tipoDeTransaccionController"  ng-init="obtenerTiposDeTransaccionBandeja()">
    <div class="row">
        <div class="col-md-12">
            <div class="color-palette-set">
                <div class="bg-green color-palette">TIPOS DE TRANSACCIÓN</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <a title="Nuevo Tipo De Transacción" class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#modal-registro-tipo-de-transaccion" ng-click="nuevoRegistroTipoDeTransaccion()"><span class="glyphicon glyphicon-plus"></span> NUEVO TIPO DE TRANSACCIÓN</a>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
                            <table id="tabla-tipo-de-transaccion" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>TRANSACCIÓN MAESTRO</th>
                                        <th>ACCIÓN DE NEGOCIO</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaTiposDeTransaccionBandeja" ng-cloak>
                                        <td>{{item.Id}}</td>
                                        <td>{{item.Nombre}}</td>
                                        <td>{{item.Descripcion}}</td>
                                        <td>{{item.TransaccionMaestro}}</td>
                                        <td>{{item.AccionesDeNegocioPorTipoDeTransaccion}}</td>
                                        <td>
                                            <a title="Editar Tipo De Transacción" class="btn btn-warning btn-xs btn-flat" data-toggle="modal" data-target="#modal-registro-tipo-de-transaccion" ng-click="editarTipoDeTransaccion(item.Id)"><span class="glyphicon glyphicon-edit"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_ModalRegistroTipoDeTransaccionPartial")
    </div>
</div>
